iframe[id^=ad_],div[class*="-ads-"],a[href*="/adwords/"],a[href*="doubleclick.net"],iframe[src*="doubleclick.net"],a[href^="http://www.youtube.com/cthru?"],a[href^="https://www.youtube.com/cthru?"],a[onclick*="\"ping_url\":\"http://www.google.com/aclk?"] {
  display: none !important;
}

#watch-buy-urls,#sub-frame-error,#main-frame-error,#watch7-sidebar-ads {
  display: none !important;
}

.iv-promo,.video-ads,.promoted-videos,.ytp-ad-progress,.ytp-ad-progress-list,.html5-ad-progress-list,.youtubeSuperLeaderBoardAdHolder,.youtubeSuperLeaderOverallAdArea {
  display: none !important;
}
